* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #e74c3c;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	width: 90%;
	max-width: 800px;
	margin: auto;
}

/* ------------------------- */
/* HEADER */
/* ------------------------- */

header {
	padding: 40px 0;
}

header .logoPoke{
	width: 50%;
}

header .logo {
	text-align: center;
	margin-bottom: 40px;
}

header .logo p {
	font-weight: bold;
	color: #26394d;
	text-align: center;
	font-size: 16px;
}

header form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

header .barra-busqueda {
	width: 70%;
	height: 40px;
	line-height: 40px;
	background: #e4e4e5;
	color: #34495e;
	padding: 0 20px;
	border-style: solid;
	border-radius: 100px;
	border-color: #2a4381;
	text-align: center;
	font-size: 16px;
	margin-bottom: 20px;
}

header .nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.boton {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #fbc30e;
	background-color: #2a4381;
	border-radius: 10px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold; 
}

.boton:hover {
	background-color: #3c5aa6;
	cursor: pointer;
}

.labelTitle {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #fbc30e;
	background-color: #2a4381;
	border-radius: 10px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
}

.labelTitle .filterType {
	border-radius: 10px;
	background-color: #e4e4e5;
	color: #203363;
	cursor: pointer;
}

.labelTitle .filterWeakness {
	border-radius: 10px;
	background-color: #e4e4e5;
	color: #203363;
	cursor: pointer;
}

.labelTitle .filterOrder {
	border-radius: 10px;
	background-color: #e4e4e5;
	color: #203363;
	cursor: pointer;
}

/* ------------------------- */
/* FOOTER */
/* ------------------------- */

footer .creado-por {
	margin-bottom: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #26394d;
}

/* ------------------------- */
/* CARD */
/* ------------------------- */

.wrap{
	margin: 50px auto;
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 300px;
	height: 350px;
	}
	.front{
	text-align: center;
	color: #fbc30e;
	font-size: 18px;
	}
		
	.front > h4{
	padding-top: 12px;
	padding-bottom: 8px ;
	font-weight: bold;
	background: #2a4381;
	border-radius: 20px;
	margin: 18px;
}

	color: #fbc30e;
	border-radius: 20px;
	margin: 18px;
}
.front > p {
font-weight: bold;	
margin-top: 40px ;
color: #26394d;
}
	
.imagen{
	height: 150px;
	}
	
	.card-wrap{
		margin: 10px;
		-webkit-perspective: 800;
		perspective: 800;

	}
	
	.card{
	text-align: center;
	border-radius: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: 0,03em;
	width: 250px;
	height: 300px;
	background: hsl(46, 89%, 54%);
	position: relative;
	transform-style: preserve-3d;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0, 0.65);
	-moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0, 0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0, 0.65);
	}
	
	.front, .back{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility:hidden;
	backface-visibility: hidden;
	}
	
	.back{
		transform: rotateY(180deg);
		padding: 15px;
		padding-left: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: left;
		line-height: 30px;
		font-weight: bold;
		color: #26394d;
	
	}
	.card-wrap:hover .card{
		transform:rotateY(180deg);
	
	}

/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */

@media all and (max-width: 1120px){

}

@media all and (max-width: 750px) {
	header .barra-busqueda {
		margin-bottom: 20px;
		width: 100%;
	}

	header .nav{
		flex-direction: column-reverse;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	
	header .nav .column {
		margin-bottom: 50px;
	}

}

